{%extends 'layout.html'%}

{% block maincontent %}

Pallette Page Customization

<form method="post" action="/chocolatehb/house/{{house_id}}/customizations/{{customization.id}}">
{% csrf_token %}

{% for option in options %}
<p>
  <div>
    {% if option.id == selectedHouseOption.option_id %}
      <input type="radio" name="option" value="{{option.id}}" checked/>&nbsp;{{ option.name }}
    {% else %}
      <input type="radio" name="option" value="{{option.id}}" />&nbsp;{{ option.name }}
    {% endif %}
  </div>
</p>
{% endfor %}
<input type="submit" value="Submit Form"/>
</form>

{% endblock maincontent %}

